<div class="row">
  <div class="col-md-12 buffer-top">
    <h2>Забыли пароль?</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, 'Почта', class: 'col-form-label-lg'  %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="actions buffer-bottom">
        <%= f.submit "Восстановить", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

