<h1><%= t('app.access_only_by_pincode') %></h1>

<%= form_for('', method: 'post') do |f| %>
  <div class="form-group">
    <%= f.label :pincode, t('app.pincode') %>
    <%= f.password_field :pincode, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary buffer-bottom' %>
  </div>
<% end %>

<%= link_to t('app.to_home'), events_path %>

