<!DOCTYPE html>
<html>
  <head>
    <title>BbqForMyFriends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>
<body>

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <strong> <%= link_to 'BBQ', root_path, class: 'navbar-brand' %> </strong>
      <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a <%= link_to 'Профиль', current_user, class: 'nav-link' %> </a>
            </li>
            <li class="nav-item">
              <a> <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'nav-link' %> </a>
            </li>
          <% else %>
            <li class="nav-item">
              <a <%= link_to 'Войти', new_user_session_path, class: 'nav-link' %> </a>
            </li>
            <li class="nav-item">
              <a> <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'nav-link' %> </a>
            </li>
          <% end %>
      </div>
    </nav>

    <div class="row">
      <div class="col-lg-9">
        <% if flash.any? %>
          <% flash.each do |err, text| %>
            <%= text %>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <footer>
      <p>&copy; Company 2021</p>
    </footer>
  </div> <!-- /container -->
  </body>
</html>
